*.class
.classpath
.project


target/
/bin/
/dist/
.settings/
/**/.classpath
/**/.project


# Log file
*.log

# BlueJ files
*.ctxt


# intellij
/out
.idea
*.iml
*.ipr
*.iws

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Folder view configuration files
.DS_Store
**/.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes








